## Exercise 1: Regression task

The dataset that i selected is all about car prices. I have prioritzed linear regression in this dataset. This dataset contains information about several vehicles, which includes to make model, year of manufacture, mileage, engine size, fuel types, transmission and other features, with the objetcive of estimating each others car's market price.

### Importing libraries

So I have imported Pandas, sklearn a model selection to train, test, and split the data to easily train modern predicting the car prices.
the train_test_split allows to divide the dataset into training and testing to set the model of evaluation. 
METRICS, This also allows to evaluate the model peroformance to measure predictions accuracy of the car prices and brands.

In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import mean_squared_error, r2_score

## Loading the data.

I have loaded the data about car prices. I imported the car price dataset into Python and modeling. As based on the analysis, This dataset is usually in CSV format includes some information about numerous cars, namely as the model or brand of the cars, manufactures, milage, engine size, fuel type, gearbox type, and the goal variable which is the car price itself.

In [2]:
data = pd.read_csv("/kaggle/input/car-prices-proj/CarPricesPrediction.csv")

## Vieweing the first rows amd columns

The next step, I have to print the rows and columns by printing the data head, the dataset preview, and the column of the dataset. 

And as I ran the program, the output displays the preview, of the rows and columns. The dataset preview displayed the brands, the models, Milage, condition, and price. And the column of the dataset displays the index and lists of variables.

In [3]:
print("Dataset preview:\n", data.head(), "\n")
print("Colimn in dataset\n", data.columns, "\n")

Dataset preview:
    Unnamed: 0       Make      Model  Year  Mileage  Condition     Price
0           0       Ford  Silverado  2022    18107  Excellent  19094.75
1           1     Toyota  Silverado  2014    13578  Excellent  27321.10
2           2  Chevrolet      Civic  2016    46054       Good  23697.30
3           3       Ford      Civic  2022    34981  Excellent  18251.05
4           4  Chevrolet      Civic  2019    63565  Excellent  19821.85

Colimn in dataset
 Index(['Unnamed: 0', 'Make', 'Model', 'Year', 'Mileage', 'Condition', 'Price'], dtype='object')

### Data inspection

This dataset performs initial data inspection. So called as the namely tabular data. df.head() or data.head() is displayed to view the first rows to check the missing values. The data.info() allows to check the data types and missing values and data.describe() displays the summary statistics.

In [4]:
data.head()

   Unnamed: 0       Make      Model  Year  Mileage  Condition     Price
0           0       Ford  Silverado  2022    18107  Excellent  19094.75
1           1     Toyota  Silverado  2014    13578  Excellent  27321.10
2           2  Chevrolet      Civic  2016    46054       Good  23697.30
3           3       Ford      Civic  2022    34981  Excellent  18251.05
4           4  Chevrolet      Civic  2019    63565  Excellent  19821.85

In [5]:
data.shape

(1000, 7)

In [6]:
data.tail()

     Unnamed: 0       Make      Model  Year  Mileage  Condition     Price
995         995     Nissan      Camry  2010   149032  Excellent  24548.50
996         996  Chevrolet      F-150  2014    20608  Excellent  26969.70
997         997       Ford     Altima  2016   109851       Good  20507.55
998         998     Toyota  Silverado  2010    11704       Good  31414.90
999         999     Nissan  Silverado  2017   128390  Excellent  18580.60

In [7]:
data.describe

<bound method NDFrame.describe of      Unnamed: 0       Make      Model  Year  Mileage  Condition     Price
0             0       Ford  Silverado  2022    18107  Excellent  19094.75
1             1     Toyota  Silverado  2014    13578  Excellent  27321.10
2             2  Chevrolet      Civic  2016    46054       Good  23697.30
3             3       Ford      Civic  2022    34981  Excellent  18251.05
4             4  Chevrolet      Civic  2019    63565  Excellent  19821.85
..          ...        ...        ...   ...      ...        ...       ...
995         995     Nissan      Camry  2010   149032  Excellent  24548.50
996         996  Chevrolet      F-150  2014    20608  Excellent  26969.70
997         997       Ford     Altima  2016   109851       Good  20507.55
998         998     Toyota  Silverado  2010    11704       Good  31414.90
999         999     Nissan  Silverado  2017   128390  Excellent  18580.60

[1000 rows x 7 columns]>

## Splitting features of the target.

As I split the target variable, The dataset is separated into inputs and the target variable which is the output is in the car dataset. 

The target variable (y) -  This explains what we want to predict the dataset. 

Data(Price) we create a separate variable that contains car prices in the dataset. 

The features explains as the variable which we used to predict the target, and in that case, the feature includes The brand, the model, year, milage, Engine size, transmission etc. 
By using data.X = data.drop("Price", axis=1), we removed the Price column from the dataset that the X contains the input features. This allow the model to learn from the training set and be evaluated on unseen data 

Below the features, they display the X and y.

In [8]:
X = data.drop("Price", axis = 1)
y = data["Price"]

In [9]:
X

     Unnamed: 0       Make      Model  Year  Mileage  Condition
0             0       Ford  Silverado  2022    18107  Excellent
1             1     Toyota  Silverado  2014    13578  Excellent
2             2  Chevrolet      Civic  2016    46054       Good
3             3       Ford      Civic  2022    34981  Excellent
4             4  Chevrolet      Civic  2019    63565  Excellent
..          ...        ...        ...   ...      ...        ...
995         995     Nissan      Camry  2010   149032  Excellent
996         996  Chevrolet      F-150  2014    20608  Excellent
997         997       Ford     Altima  2016   109851       Good
998         998     Toyota  Silverado  2010    11704       Good
999         999     Nissan  Silverado  2017   128390  Excellent

[1000 rows x 6 columns]

In [10]:
y

0      19094.75
1      27321.10
2      23697.30
3      18251.05
4      19821.85
         ...
995    24548.50
996    26969.70
997    20507.55
998    31414.90
999    18580.60
Name: Price, Length: 1000, dtype: float64

### First printing dtypes

When working with the datasets, printing dtypes is critical to understand the type of data that includes in every column, In Pandas the data.dtypes assists om determining this by displaying the data type of each column in the dataframe. 

The output displays the numeric and which are categorized that guides the steps in data preprocessing building the model.

In [11]:
print(X.dtypes)

Unnamed: 0     int64
Make          object
Model         object
Year           int64
Mileage        int64
Condition     object
dtype: object

After separating the datasets into features, and target, it is essential to inspect and prepare the data modeling. The following steps ensures that all columns are correctly formated and ready for regression analysis.

### Creating dummies 

To handle non-numeric columns dummies and variables that are used the code below. 

The purpose of this helps to identify the columns and numeric which is categorized

### Encoding the variables

Handling the non-numeric categoral columns, dummy variables and creating using pandas to create dummies, dropping the data and a bool. 

in this code, it converts text based lectures like petrol into binary columns 

drop_first_true helps to avoid the dummy variable trap which can cause multicollinearity in regression models.
The result overall the features in X become numerical making them competible with machine learning algoritms.

In [12]:
X = pd.get_dummies(X, drop_first=True)

In [13]:
X

,Unnamed: 0,Year,Mileage,Make_Ford,Make_Honda,Make_Nissan,Make_Toyota,Model_Camry,Model_Civic,Model_F-150,Model_Silverado,Condition_Fair,Condition_Good
0,0,2022,18107,True,False,False,False,False,False,False,True,False,False
1,1,2014,13578,False,False,False,True,False,False,False,True,False,False
2,2,2016,46054,False,False,False,False,False,True,False,False,False,True
3,3,2022,34981,True,False,False,False,False,True,False,False,False,False
4,4,2019,63565,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2010,149032,False,False,True,False,True,False,False,False,False,False
996,996,2014,20608,False,False,False,False,False,False,True,False,False,False
997,997,2016,109851,True,False,False,False,False,False,False,False,False,True
998,998,2010,11704,False,False,False,True,False,False,False,True,False,True
999,999,2017,128390,False,False,True,False,False,False,False,True,False,False

### Printing the y dtypes 

Printing the datatype y checks whether the target variable (car price) is numerical. This explains when the output shows the y object whether the target variable which is the car price is numerical 

Based on the output, it displayys as object instead of float or int, the prices, may contain text, symbols or formatting issues with the use of symbol. The next step of the of the values is converted.

In [14]:
print(y.dtype)

float64

### The numeric conversion with pandas pd to numeric errors 

Y aka the Price includes non-numeric entities, I convert them by using pandas to numeric. This focuses all entities in y that becomes numeric. 

Note: Any invalid or non-numeric entities like some missing values or symbols are replaced with NaN. This ensures target variable is clean and usable for regression.

In [15]:
y = pd.to_numeric(y, errors='coerce')

### Handling missing values

Removing rows when x or y contains missing values. This purpose filters out the rows with missing target values. Because Machine learning models cannot train on such incomplete data so only rows validate numeric pieces are kept.

In [16]:
X = X[y.notnull()]
y = y[y.notnull()]

In [17]:
X = X.fillna(X.mean())  # Fill numeric columns with mean
# or
X = X.dropna()           # Remove rows with missing values

In [18]:
X = X.fillna(X.mean())  # Fill missing values
y = pd.to_numeric(y, errors='coerce')
X = X[y.notnull()]
y = y[y.notnull()]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [20]:

model = LinearRegression()
model.fit(X_train, y_train)  # ✅ Now it should work

LinearRegression()

## Evaluating the model

Right after training the regression is finished, is to evaluate the performance that helps the determine how well and the model that predicts car prices and whether it can generalize the unseen data. 

The evaluation process helps to determine how well the model predicts the car prices whether it can generalized the data. 
The evaluation begins by testing the model on the data hasn't seen before 

To be done with the evaluation, using the features X_test, and comparing the model's prediction y_pred against the actual car prices y_test.

In machine learning, the Evaluating the model ensures that it's not only fitting the training data but also making accurate predictions on new data.

###  Evaluation and preprocessing.

In [21]:
y_pred = model.predict(X_test)

print("MSE:", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))

MSE: 0.0047774769474505764
R² Score: 0.9999999997642285

In [22]:
print(X.dtypes)
print(y.dtypes)

Unnamed: 0         int64
Year               int64
Mileage            int64
Make_Ford           bool
Make_Honda          bool
Make_Nissan         bool
Make_Toyota         bool
Model_Camry         bool
Model_Civic         bool
Model_F-150         bool
Model_Silverado     bool
Condition_Fair      bool
Condition_Good      bool
dtype: object
float64

### Summary of the code

This notebook demonstrates the application of linear regressio techniques of the car prices as the main objective was to predict car prices based on various factors. As I begin the process, the first step I ddi is to import libraries to handle data, and loaded with dataset as inspected using commands sush as showing the data information. The main target of the dataset is to split into features and target. The variables are categorized namely as cars and condition were numerical format by using dummy to encode and the data types were verified to ensure compatibility with the model as its own. The data was divided into testing and training sets in linear regression model and evaluated as metrics such as MSE. And as a result, the model is approximately 0.9999 that indicates prediction performances.
Lastly, printing the dtypes confirmed that all features were in numeric and boolean format.